body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.todo-form {
  margin-bottom: 20px;
}

.todo-input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-input:focus {
  outline: none;
  border-color: dodgerblue;
}

.add-icon {
  cursor: pointer;
  color: dodgerblue;
  font-size: 20px;
  margin-left: 10px;
}

.todo-list {
  text-align: left;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.delete-icon {
  color: tomato;
  cursor: pointer;
  font-size: 18px;
}

.delete-icon:hover {
  color: red;
}

.todo-item-buttons {
  display: flex;
  gap: 10px;
}

.action-icon {
  cursor: pointer;
  font-size: 18px;
}

.edit-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.edit-icon {
  cursor: pointer;
  color: green;
  font-size: 20px;
}

.test{
  color:red;
}